.main {
    width: 1000px;
    border-radius: 9px;
    box-shadow: 14px -9px 20px 10px lightgrey;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    background: rgb(238, 239, 241);
}